<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto; margin-top: 20px ;background-color: #f8f8f8; padding: 15px; border-radius: 6px">
  <%= form_with(model: post) do |form| %>
  <h1>New post</h1>
    
    <div> 
      <% invalidT = post.errors.include?(:title)%> <%#Comprobamos que haya errores en el campo title%>    
      <%= form.label :title, style: "display: block; margin-bottom: 0px" %> <%#Mostramos el label del campo title%>
      <%= form.text_field :title, class: "form-control" %>  <%#Mostramos el campo title (inicialmente vacío)%>
      <% if invalidT %> <%#Si hay errores en el campo title, mostramos los errores%>
        <div style="margin-top: 3px; margin-bottom: 8px ;color: red; font-size: 14px"> 
          <%= post.errors.full_messages_for(:title).join(", ") %> 
        </div> 
      <% end %>
    </div>

    <%#Hacemos lo mismo para los demas campos%>
    <div>
      <% invalidD = post.errors.include?(:description)%>
      <%= form.label :description, style: "display: block; margin-bottom: 0px; margin-top: 5px" %>
      <%= form.text_field :description, class: "form-control" %>
      <% if invalidD %>
        <div style="margin-top: 3px; margin-bottom: 8px; color: red; font-size: 14px"> 
          <%= post.errors.full_messages_for(:description).join(", ") %> 
        </div> 
      <% end %>
    </div>

    <div>
      <% invalidK = post.errors.include?(:keywords)%>
      <%= form.label :keywords, style: "display: block; margin-bottom: 0px; margin-top: 5px" %>
      <%= form.text_field :keywords, class: "form-control" %>
      <% if invalidK %>
        <div style="margin-top: 3px; color: red; font-size: 14px"> 
          <%= post.errors.full_messages_for(:keywords).join(", ") %> 
        </div> 
      <% end %>
    </div>

    <div>
      <%= form.text_field :user_id, type:"hidden", value: current_user.id %>
    </div>

    <%= form.file_field :images, multiple: true, style: "margin-top: 16px" %>

    <div>
      <%= form.submit class: "btn btn-dark col-12 mt-3" %>
    </div>
  <% end %>
</div>
