
<%#Para aquellos posts que no contengan imagenes no vamos a generar el cuadro para poner una imagen, sino que va a ser un post notmal de texto%>
<% if post.images.length  == 0%>
  
  <div id="<%= dom_id post %>" class="text-post">
  <%= link_to post, class: "post-link" do %>
    <div class="post-header">
      <p><%= post.user.email %></p>
      <p><%= post.title %></p>
    </div>
    <div class="post-description">
      <p><%= post.description %></p>
      <p><%= post.keywords %></p>
    </div>
  <% end %>
  </div>

<% else %>

  <div id="<%= dom_id post %>" class="post-container">
    <%= link_to post, class: "post-link" do %>
      <div class="post-header">
        <p><%= post.title %></p>
      </div>

      <!-- Carrusel de imágenes -->
      <div class="post-images">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% post.images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag(image, style: "object-fit: cover; width: 100%; height: 400px;") %>
              </div>
            <% end %>
          </div>
          <!-- Botones de navegación -->
          <div class="swiper-button-next swiper-control"></div>
          <div class="swiper-button-prev swiper-control"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- Descripción del post -->
      <div class="post-description">
        <p><%= post.description %></p>
        <p><%= post.keywords %></p>
      </div>
    <% end %>
  </div>

<% end %>

